.bottomContainer{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px 0px 130px 0px;
    .infotext{
        display: flex;
        flex-direction: column;
        width: 30vw;
        gap: 2em;
    }
}