.topContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    align-items: center;

    .aboutText{
        width: 600px;
        display: flex;
        flex-direction: column;
        h2{
            text-align: center;
            margin-bottom: 2em;
            font-weight: 500;
        }
    }
}