.acervo-page {
    width: 100%;
    height: 100%;
    padding: 40px 60px;
    color: #fff;
    font-family: "Poppins", sans-serif;

    .back {
        background: #363636;
        border: none;
        padding: 12px 25px;
        border-radius: 6px;
        color: #fff;
        cursor: pointer;
        font-size: 16px;
    }

    .content {
        display: flex;
        gap: 60px;
        margin-top: 40px!important;

        .left {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .main-image {
                width: 350px;
                height: 350px;
                overflow: hidden;
                border-radius: 6px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .thumbs {
                display: flex;
                gap: 15px;

                img {
                    width: 100px;
                    height: 100px;
                    border-radius: 4px;
                    object-fit: cover;
                    cursor: pointer;
                    opacity: 0.7;
                    transition: .2s;

                    &.active,
                    &:hover {
                        opacity: 1;
                        transform: scale(1.05);
                    }
                }
            }
        }
        .middle {
            border-left: 2px solid #3c3c3c;
            padding-left: 40px;
            width: 30vw;

            max-height: 50vh;
            overflow-y: auto;
            padding-right: 10px;

            /* Firefox */
            scrollbar-width: thin;
            scrollbar-color: #888 transparent;

            /* Chrome / Edge / Safari */
            &::-webkit-scrollbar {
                width: 6px;
            }

            &::-webkit-scrollbar-track {
                background: transparent;
                margin: 6px;
            }

            &::-webkit-scrollbar-thumb {
                background: #888;
                border-radius: 20px;

                &:hover {
                    background: #555;
                }
            }

            .title {
                margin-top: 12px;
                margin-bottom: 20px;
            }

            .info-box {
                display: flex;
                flex-direction: column;
                margin-bottom: 14px;

                .label {
                    font-size: 13px;
                    color: #adadad;
                }

                .value {
                    font-size: 15px;
                }
            }
        }
        .right {
            flex: 1;
            width: 40vw;

            h3 {
                margin-bottom: 10px;
                font-size: 20px;
            }

            p {
                width: 500px;
                line-height: 1.5rem;
                color: #d3d3d3;
            }

            .reservar {
                margin-top: 25px;
                background: #a26e4b;
                border: none;
                padding: 14px 32px;
                border-radius: 6px;
                cursor: pointer;
                font-size: 16px;
                color: #fff;
                transition: 0.2s;

                &:hover {
                    background: #8f5c3e;
                }
            }
        }
    }
}
